.icon-alipay {
    color: #2d9cdb
}

.icon-wechat {
    color: #41c938
}

.icon-bankCard {
    color: #f2994a
}

.icon-paypal {
    color: #464f94
}

.icon-xilian {
    color: #f5d57e
}

.icon-SWIFT {
    color: #f0805d
}

.icon-paynow {
    color: #c45390
}

.icon-paytm {
    color: #21336b
}

.icon-QIWI {
    color: #ff8b00
}

.icon-interac {
    color: #f1b519
}

.icon-BTCicon {
    color: #f2994a!important
}

.icon-ETHicon {
    color: #8da0e0
}

.icon-USDT {
    color: #26a17b
}

.icon-HTICON {
    color: #15b4f1
}